body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Tahoma, sans-serif;
    color: white;
}

body{
    background-image: url("Images/bg.jpg");
    background-size: 100% 100%;
    min-height: 100%;
    width: 100%;
}

.quebra
{
    clear: both;
}   

.logo{
    width: 240px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("Images/logo.png");
}

#container{
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#register{
    width: 310px;
    height: 460px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}

#register header {
    text-align: center;
}

#register header > h1{
    font-size: 130%;
}

#register header > p{
    font-size: 75%;
}

#register label {
    font-size: 75%;
}

#register input[type=submit] {
    margin-top: 5px;
}

#error {
    font-size: 75%;
    text-align: center;
    color: red;
}

.form-control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    padding: 6px 12px;
    border: 1px solid #CCC;
}

.btnLogin
{
    width: 180px;
    display: block;
    font-size: 14px;
    margin-bottom: auto;
    margin-left: auto;
}

.btn-large-primary, .btn-large-primary:visited {
    color: #222;
    border-color: #F6C653 #BD6A23 #B6631F #E8AB4A;
    background: url("Images/lol-textures.jpg") no-repeat scroll 50% -846px #D79922;
}

.btn-large, .btn-large:visited
{
    box-sizing: border-box;
    border-style: solid;
    border-width: 3px;
    font-family: "Adobe Garamond Pro",Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 20px 4px;
    text-align: center;
}

#charInfo{
    float: right;
    margin-right: 30px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: black;
    padding: 5px 10px 5px 10px;  
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: rgba(0,0,0,0.6);
}

#avatar{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background: url("Images/ViSquare.png");
    background-size: 30px 30px;
    float: left;
}

#lblUsername{
    float: left;
    margin-left: 10px;  
}

#lblUsername a{
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#atr{
    padding: 5px 10px 5px 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px 0px 8px 8px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 500px;
    margin: 0 auto; 
    height: 50px;
}

#game
{
    width: 70%;
    height: 40%;    
    padding: 5px 10px 5px 10px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 0px 0px 8px 8px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 100px auto; 
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

